


/* Scroll */
.scrollFF::-webkit-scrollbar{
    background-color: rgba(179, 189, 189, 0.836);
    border-radius: 5px;

    height: 5px;
    width: 5px;
  }
  .scrollFF::-webkit-scrollbar-thumb{
    border-radius: 6px;

    background-color: rgb(24, 23, 23);
  }



  